

.comforting-text {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #365b47;
  animation: fadeIn 1s ease-in;
}




.comforting-fadein {
  animation: fadeIn 1.2s ease-in 0.2s forwards;
  opacity: 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #365b47;
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: left;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}
